<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.callpal.cordova.manageContacts"
    version="0.0.1">

    <name>Manage Contacts</name>
    <description>Cordova Plugin to Manage contacts </description>
    <license>Apache 2.0</license>
    <keywords>cordova,contacts,manage</keywords>
    <issue>https://github.com/davidrivasro07/manage-contacts-cordova-plugin/issues</issue>

    <js-module src="www/manageContacts.js" name="manageContacts">
        <clobbers target="navigator.manageContacts" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ManageContacts">
                <param name="android-package" value="com.callpal.cordova.manageContacts.ContactsManager"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_CONTACTS" />
        </config-file>

        <source-file src="src/android/ContactsManager.java" target-dir="src/com/callpal/cordova/manageContacts" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ManageContacts">
                <param name="ios-package" value="CDVManageContacts"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVManageContacts.h" />
        <source-file src="src/ios/CDVManageContacts.m" />

        <framework src="AddressBook.framework" weak="true" />
        <framework src="AddressBookUI.framework" weak="true" />
        <framework src="CoreGraphics.framework" />
        <framework src="ContactsUI.framework" />
        <framework src="AVFoundation.framework" />
    </platform>
</plugin>
